.menu {
  background: #767676;
  height: 60px;
  position: relative;
  &__body {
    a {
      font-size: 18px;
      letter-spacing: 0px;
      color: #ffffff;
      text-align: center;
      padding: 0 14px;
      border-right: 1px solid;
      &:last-of-type {
        border: none;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
        transition: all ease-out 0.2s;
        -webkit-transition: all ease-out 0.2s;
        -moz-transition: all ease-out 0.2s;
        -ms-transition: all ease-out 0.2s;
        -o-transition: all ease-out 0.2s;
      }
    }
  }
}
@media (max-width: 767px) {
  .menu {
    &__body {
      display: none !important;
    }
  }
}
